#geomap {
    position: absolute;
    top: 500px;
    left: 100px;
    height: 550px;
    width: 500px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#barchart {
    position: absolute;
    top: 1050px;
    left: 1000px;
    height: 400px;
    width: 700px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#donutchart {
    position: absolute;
    top: 1560px;
    left: 100px;
    height: 360px;
    width: 510px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.tooltip1 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(196, 237, 194);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.tooltip2 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(167, 224, 174);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.tooltip3 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(167, 224, 174);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

.legend {
    font-size: 12px;
}

#page {
    padding-top: 100px;
    padding-left: 200px;
    height: 2000px;
    width: 1500px;
}
