#s1 {
    font-weight: bold;
    font-size: 57px;
    border: solid 4px rgb(204, 204, 204);
}

#s2 {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    left: 500px;
}

#s2a {
    height: fit-content;
    text-align: center;
    background-color: rgb(198, 247, 175);
    font-size: 25px;
}

#s2b {
    height: fit-content;
    text-align: center;
    color: rgb(20, 108, 10);
}

#s2c {
    text-align: center;
    height: fit-content;
    font-size: 23px;
}

#s3 {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    left: 970px;
}

#s3a {
    text-align: center;
    background-color: rgb(198, 247, 175);
    height: fit-content;
    font-size: 25px;
}

#s3b {
    text-align: center;
    height: fit-content;
    color: rgb(20, 108, 10);
}

#s3c {
    text-align: center;
    height: fit-content;
    font-size: 23px;
}

#linechart {
    position: absolute;
    top: 570px;
    left: 100px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#button1,
#button2,
#button3 {
    position: absolute;
    background-color: rgb(56, 182, 129);
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 13px;
    top: 1550px;
    left: 400px;
}

#button1 {
    left: 400px;
}

#button2 {
    left: 770px;
}

#button3 {
    left: 1100px;
}

#geomap {
    position: absolute;
    top: 1650px;
    left: 100px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#table {
    position: absolute;
    top: 1650px;
    left: 890px;
    vertical-align: middle;
}

tbody {
    position: absolute;
    width: 710px;
    height: 707px;
    display: block;
    overflow-y: scroll;
    border: solid 3px rgb(83, 198, 140);
    border-radius: 10px;
}

th {
    padding: 5px;
    border: solid 2px #CCC;
    width: 122px;
    height: 30px;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(198, 247, 183);
    border: solid 3px rgb(83, 198, 140);
    border-radius: 5px;
}

td.data {
    padding: 10px;
    width: 130px;
}

td.chart1,
td.chart2,
td.chart3 {
    padding-left: 40px;
}

td {
    border: solid 2px #CCC;
    font-weight: bold;
    font-size: large;
}

div {
    height: 17px;
}

div.container {
    float: none;
    width: 50%;
}

div.bar1 {
    background-color: rgb(147, 227, 171);
}

div.bar2 {
    background-color: rgb(147, 227, 171);
}

div.bar3 {
    background-color: rgb(147, 227, 171);
}

tr.even {
    background-color: rgb(255, 255, 255);
}

tbody tr:hover {
    background-color: rgb(206, 247, 211);
}

#selectButton {
    position: absolute;
    background-color: rgb(213, 245, 252);
    font-size: large;
    font-weight: bold;
    top: 2570px;
    left: 1450px;
}

#barchart {
    position: absolute;
    top: 2570px;
    left: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#donutchart {
    position: absolute;
    top: 3300px;
    left: 55px;
    height: 360px;
    width: 510px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#donut2 {
    position: absolute;
    top: 3300px;
    left: 840px;
    height: 360px;
    width: 510px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 6px;
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(224, 235, 235);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.tooltip1 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 17px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(196, 237, 194);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.tooltip2 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 17px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(167, 224, 174);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

div.tooltip3 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 7px;
    font: 18px sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(167, 224, 174);
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

.legend {
    font-size: 12px;
}

#page {
    height: 3700px;
    width: 100px;
}
